<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Register</servlet-name>
        <servlet-class>Add_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>myin.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myin</servlet-name>
        <servlet-class>myin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin_table</servlet-name>
        <servlet-class>adminlogin_table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Guide</servlet-name>
        <servlet-class>Add_Guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guide</servlet-name>
        <servlet-class>Guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guidelogin_table</servlet-name>
        <servlet-class>guidelogin_table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_one</servlet-name>
        <servlet-class>user_one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guide_one</servlet-name>
        <servlet-class>guide_one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking_one</servlet-name>
        <servlet-class>booking_one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inter_one</servlet-name>
        <servlet-class>inter_one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin_table</servlet-name>
        <servlet-class>userlogin_table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass1</servlet-name>
        <servlet-class>changepass1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_forguide</servlet-name>
        <servlet-class>user_forguide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comments</servlet-name>
        <servlet-class>comments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_comments</servlet-name>
        <servlet-class>Add_comments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comments_one</servlet-name>
        <servlet-class>comments_one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet1</servlet-name>
        <servlet-class>LogoutServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_guide</servlet-name>
        <servlet-class>delete_guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_guide</servlet-name>
        <servlet-class>update_guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msg_guide</servlet-name>
        <servlet-class>msg_guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgfrom_admin</servlet-name>
        <servlet-class>msgfrom_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msg_admin</servlet-name>
        <servlet-class>msg_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgfrom_guide</servlet-name>
        <servlet-class>msgfrom_guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking_one_guide</servlet-name>
        <servlet-class>booking_one_guide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>join</servlet-name>
        <servlet-class>join</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editinfo</servlet-name>
        <servlet-class>editinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountinfoservlet</servlet-name>
        <servlet-class>accountinfoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_one</servlet-name>
        <servlet-class>payment_one</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Register</servlet-name>
        <url-pattern>/Add_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myin</servlet-name>
        <url-pattern>/myin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin_table</servlet-name>
        <url-pattern>/adminlogin_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Guide</servlet-name>
        <url-pattern>/Add_Guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guide</servlet-name>
        <url-pattern>/Guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guidelogin_table</servlet-name>
        <url-pattern>/guidelogin_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_one</servlet-name>
        <url-pattern>/user_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guide_one</servlet-name>
        <url-pattern>/guide_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking_one</servlet-name>
        <url-pattern>/booking_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inter_one</servlet-name>
        <url-pattern>/inter_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin_table</servlet-name>
        <url-pattern>/userlogin_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass1</servlet-name>
        <url-pattern>/changepass1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_forguide</servlet-name>
        <url-pattern>/user_forguide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comments</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_comments</servlet-name>
        <url-pattern>/Add_comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comments_one</servlet-name>
        <url-pattern>/comments_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet1</servlet-name>
        <url-pattern>/LogoutServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_guide</servlet-name>
        <url-pattern>/delete_guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_guide</servlet-name>
        <url-pattern>/update_guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msg_guide</servlet-name>
        <url-pattern>/msg_guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgfrom_admin</servlet-name>
        <url-pattern>/msgfrom_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msg_admin</servlet-name>
        <url-pattern>/msg_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgfrom_guide</servlet-name>
        <url-pattern>/msgfrom_guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking_one_guide</servlet-name>
        <url-pattern>/booking_one_guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>join</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editinfo</servlet-name>
        <url-pattern>/editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountinfoservlet</servlet-name>
        <url-pattern>/accountinfoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_one</servlet-name>
        <url-pattern>/payment_one</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
